In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Speed_Dating_Data.csv", encoding="ISO-8859-1")
df

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,21,22,14,10.0,5,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8374,552,22.0,1,44,2,21,22,13,10.0,4,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8375,552,22.0,1,44,2,21,22,19,10.0,10,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8376,552,22.0,1,44,2,21,22,3,10.0,16,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8377,552,NaN,1,44,2,21,22,2,10.0,15,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

In [4]:
colonne_profil = ['iid', 'gender', 'age', 'field_cd', 'race', 'goal', 'from', 'career_c']

df_profil = df[colonne_profil]
df_profil["gender"] = df_profil["gender"]\
    .replace(0, "F")\
    .replace(1,"H").fillna("Non Renseigner").astype(str)
df_profil["age"] = df_profil["age"].apply(lambda x: 1 if x < 20 else (2 if x < 25 else (3 if x < 35 else (4 if x < 45 else 5))))
df_profil["from"] = df_profil["from"].fillna("Non Renseigner").astype(str)
df_profil["race"] = df_profil["race"]\
    .replace(1, "Black")\
    .replace(2,"European")\
    .replace(3,"Latino")\
    .replace(4,"Asian")\
    .replace(5,"Native American")\
    .replace(6,"Other").fillna("Non Renseigner").astype(str)
df_profil["goal"] = df_profil["goal"]\
    .replace(1, "Fun night out")\
    .replace(2,"Meet new people")\
    .replace(3,"Get a date")\
    .replace(4,"Serious relationship")\
    .replace(5,"Say i did it")\
    .replace(6,"Other").fillna("Non Renseigner").astype(str)
df_profil["field_cd"] = df_profil["field_cd"]\
    .replace(1,"Law")\
    .replace(2,"Math")\
    .replace(3,"Psychologist")\
    .replace(4,"Pharmaceuticals")\
    .replace(5,"Engineering")\
    .replace(6,"Journalism")\
    .replace(7,"History/Religion/Philosophy")\
    .replace(8,"Business")\
    .replace(9,"Education")\
    .replace(10,"Biological")\
    .replace(11,"Social Work")\
    .replace(12,"Undergrad")\
    .replace(13,"Political Science")\
    .replace(14,"Film")\
    .replace(15,"Arts")\
    .replace(16,"Languages")\
    .replace(17,"Architecture")\
    .replace(18,"Other").fillna("Non Renseigner").astype(str)
df_profil["career_c"] = df_profil["career_c"]\
    .replace(1,"Lawyer")\
    .replace(2,"Academic/Research ")\
    .replace(3,"Psychologist")\
    .replace(4,"Doctor/Medicine")\
    .replace(5,"Engineer")\
    .replace(6,"Creative Arts/Entertainment")\
    .replace(7,"Business")\
    .replace(8,"Real Estate")\
    .replace(9,"Humanitarian Affairs")\
    .replace(10,"Undecided")\
    .replace(11,"Social Work")\
    .replace(12,"Speech Pathology")\
    .replace(13,"Politics")\
    .replace(14,"Pro sports/Athletics")\
    .replace(15,"Other")\
    .replace(16,"Journalism")\
    .replace(17,"Architecture").fillna("Non Renseigner").astype(str)
df_profil = df_profil.drop_duplicates()

C:\Users\macel\AppData\Local\Temp\ipykernel_13372\3645601043.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["gender"] = df_profil["gender"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\3645601043.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["age"] = df_profil["age"].apply(lambda x: 1 if x < 20 else (2 if x < 25 else (3 if x < 35 else (4 if x < 45 else 5))))
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\3645601043.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["from"] = df_profil["from"].fillna("Non Renseigner").astype(str)
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\3645601043.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["race"] = df_profil["race"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\3645601043.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["goal"] = df_profil["goal"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\3645601043.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["field_cd"] = df_profil["field_cd"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\3645601043.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_profil["career_c"] = df_profil["career_c"]\

In [5]:
colonne_rencontre = ['iid', 'gender', 'age', 'field_cd', 'race', 'goal', 'from', 'career_c', 'match', 'pid']

df_rencontre = df[colonne_rencontre]
df_rencontre["gender"] = df_rencontre["gender"]\
    .replace(0, "F")\
    .replace(1,"H").fillna("Non Renseigner").astype(str)
df_rencontre["age"] = df_rencontre["age"].apply(lambda x: 1 if x < 20 else (2 if x < 25 else (3 if x < 35 else (4 if x < 45 else 5))))
df_rencontre["from"] = df_profil["from"].fillna("Non Renseigner").astype(str)
df_rencontre["race"] = df_rencontre["race"]\
    .replace(1, "Black")\
    .replace(2,"European")\
    .replace(3,"Latino")\
    .replace(4,"Asian")\
    .replace(5,"Native American")\
    .replace(6,"Other").fillna("Non Renseigner").astype(str)
df_rencontre["goal"] = df_rencontre["goal"]\
    .replace(1, "Fun night out")\
    .replace(2,"Meet new people")\
    .replace(3,"Get a date")\
    .replace(4,"Serious relationship")\
    .replace(5,"Say i did it")\
    .replace(6,"Other").fillna("Non Renseigner").astype(str)
df_rencontre["field_cd"] = df_rencontre["field_cd"]\
    .replace(1,"Law")\
    .replace(2,"Math")\
    .replace(3,"Psychologist")\
    .replace(4,"Pharmaceuticals")\
    .replace(5,"Engineering")\
    .replace(6,"Journalism")\
    .replace(7,"History/Religion/Philosophy")\
    .replace(8,"Business")\
    .replace(9,"Education")\
    .replace(10,"Biological")\
    .replace(11,"Social Work")\
    .replace(12,"Undergrad")\
    .replace(13,"Political Science")\
    .replace(14,"Film")\
    .replace(15,"Arts")\
    .replace(16,"Languages")\
    .replace(17,"Architecture")\
    .replace(18,"Other").fillna("Non Renseigner").astype(str)
df_rencontre["career_c"] = df_rencontre["career_c"]\
    .replace(1,"Lawyer")\
    .replace(2,"Academic/Research ")\
    .replace(3,"Psychologist")\
    .replace(4,"Doctor/Medicine")\
    .replace(5,"Engineer")\
    .replace(6,"Creative Arts/Entertainment")\
    .replace(7,"Business")\
    .replace(8,"Real Estate")\
    .replace(9,"Humanitarian Affairs")\
    .replace(10,"Undecided")\
    .replace(11,"Social Work")\
    .replace(12,"Speech Pathology")\
    .replace(13,"Politics")\
    .replace(14,"Pro sports/Athletics")\
    .replace(15,"Other")\
    .replace(16,"Journalism")\
    .replace(17,"Architecture").fillna("Non Renseigner").astype(str)

df_rencontre["pid"] = df_rencontre["pid"].fillna(0).astype(int)

df_rencontre

C:\Users\macel\AppData\Local\Temp\ipykernel_13372\2586113797.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["gender"] = df_rencontre["gender"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\2586113797.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["age"] = df_rencontre["age"].apply(lambda x: 1 if x < 20 else (2 if x < 25 else (3 if x < 35 else (4 if x < 45 else 5))))
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\2586113797.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["from"] = df_profil["from"].fillna("Non Renseigner").astype(str)
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\2586113797.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["race"] = df_rencontre["race"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\2586113797.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["goal"] = df_rencontre["goal"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\2586113797.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["field_cd"] = df_rencontre["field_cd"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\2586113797.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["career_c"] = df_rencontre["career_c"]\
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\2586113797.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rencontre["pid"] = df_rencontre["pid"].fillna(0).astype(int)

,iid,gender,age,field_cd,race,goal,from,career_c,match,pid
0,1,F,2,Law,Asian,Meet new people,Chicago,Non Renseigner,0,11
1,1,F,2,Law,Asian,Meet new people,NaN,Non Renseigner,0,12
2,1,F,2,Law,Asian,Meet new people,NaN,Non Renseigner,1,13
3,1,F,2,Law,Asian,Meet new people,NaN,Non Renseigner,1,14
4,1,F,2,Law,Asian,Meet new people,NaN,Non Renseigner,1,15
...,...,...,...,...,...,...,...,...,...,...
8373,552,H,3,Other,European,Fun night out,NaN,Other,0,526
8374,552,H,3,Other,European,Fun night out,NaN,Other,0,527
8375,552,H,3,Other,European,Fun night out,NaN,Other,0,528
8376,552,H,3,Other,European,Fun night out,NaN,Other,0,529
8377,552,H,3,Other,European,Fun night out,NaN,Other,0,530

In [6]:
def getUserMatchProfilDataframe(iid):
    matchesPid=df_rencontre.loc[df_rencontre["iid"]==iid]["pid"]
    return df_profil[df_profil["iid"].isin(matchesPid)]

In [7]:
def getColumnMatchPourcente(column, value):
    columnRencontrePid = df_rencontre.loc[df_rencontre[column] == value]["pid"]
    columnMatchesPid = df_rencontre.loc[(df_rencontre["match"] == 1) & (df_rencontre[column] == value)]["pid"]
    
    columnMatchesPid = columnMatchesPid
    return (df_profil[df_profil["iid"].isin(columnMatchesPid)][column].value_counts())/(df_profil[df_profil["iid"].isin(columnRencontrePid)][column].value_counts())

getColumnMatchPourcente("gender","H")

gender
F    0.806569
Name: count, dtype: float64

In [8]:
profil1 = 1
profil2Df = df_profil.loc[(df_profil["iid"] == profil1)]

profil2Df

   iid gender  age field_cd   race             goal     from        career_c
0    1      F    2      Law  Asian  Meet new people  Chicago  Non Renseigner

In [9]:
def getMatchPourcente(p1:pd.DataFrame,p2:pd.DataFrame):
    _from = float(getColumnMatchPourcente("from", p1["from"].values[0]).fillna(0.5).get(p2["from"],0.5))
    _career_c = float(getColumnMatchPourcente("career_c", p1["career_c"].values[0]).fillna(0.5).get(p2["career_c"],0.5))
    _race = float(getColumnMatchPourcente("race", p1["race"].values[0]).fillna(0.5).get(p2["race"],0.5))
    _gender = float(getColumnMatchPourcente("gender", p1["gender"].values[0]).fillna(0.5).get(p2["gender"],0.5))
    _goal = float(getColumnMatchPourcente("goal", p1["goal"].values[0]).fillna(0.5).get(p2["goal"],0.5))
    _field_cd = float(getColumnMatchPourcente("field_cd", p1["field_cd"].values[0]).fillna(0.5).get(p2["field_cd"],0.5))
    _age = float(getColumnMatchPourcente("age", p1["age"].values[0]).fillna(0.5).get(p2["age"],0.5))
    
    return _from*_career_c*_race*_gender*_goal*_field_cd*_age*100

In [10]:

def getRandomProfil():
    def echantillonner_et_appliquer(colonne:pd.Series):
        echantillon = colonne.sample(n=1).iloc[0]
        return colonne.apply(lambda x: echantillon)

    return df_profil.apply(echantillonner_et_appliquer).drop_duplicates()


profil1Df = getRandomProfil()

getMatchPourcente(profil1Df, profil2Df)

C:\Users\macel\AppData\Local\Temp\ipykernel_13372\1607216068.py:3: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  _career_c = float(getColumnMatchPourcente("career_c", p1["career_c"].values[0]).fillna(0.5).get(p2["career_c"],0.5))

C:\Users\macel\AppData\Local\Temp\ipykernel_13372\1607216068.py:4: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  _race = float(getColumnMatchPourcente("race", p1["race"].values[0]).fillna(0.5).get(p2["race"],0.5))
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\1607216068.py:6: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  _goal = float(getColumnMatchPourcente("goal", p1["goal"].values[0]).fillna(0.5).get(p2["goal"],0.5))
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\1607216068.py:7: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  _field_cd = float(getColumnMatchPourcente("field_cd", p1["field_cd"].values[0]).fillna(0.5).get(p2["field_cd"],0.5))
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\1607216068.py:8: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  _age = float(getColumnMatchPourcente("age", p1["age"].values[0]).fillna(0.5).get(p2["age"],0.5))

0.14276354674720354

In [11]:
def getBestCompatibility(profil):
    return pd.DataFrame({
        "gender": getColumnMatchPourcente("gender", profil["gender"].values[0]).idxmax(),
        "age": getColumnMatchPourcente("age", profil["age"].values[0]).idxmax(),
        "field_cd": getColumnMatchPourcente("field_cd", profil["field_cd"].values[0]).idxmax(),
        "race": getColumnMatchPourcente("race", profil["race"].values[0]).idxmax(),
        "goal": getColumnMatchPourcente("goal", profil["goal"].values[0]).idxmax(),
        "from": getColumnMatchPourcente("from", profil["from"].values[0]).idxmax(),
        "career_c": getColumnMatchPourcente("career_c", profil["career_c"].values[0]).idxmax()
    }, index=[0])



profil1Df = getRandomProfil()
pr2 = getBestCompatibility(profil1Df)
getMatchPourcente(profil1Df, pr2)

C:\Users\macel\AppData\Local\Temp\ipykernel_13372\691686196.py:8: FutureWarning: The behavior of Series.idxmax with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  "from": getColumnMatchPourcente("from", profil["from"].values[0]).idxmax(),
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\1607216068.py:3: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  _career_c = float(getColumnMatchPourcente("career_c", p1["career_c"].values[0]).fillna(0.5).get(p2["career_c"],0.5))
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\1607216068.py:4: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  _race = float(getColumnMatchPourcente("race", p1["race"].values[0]).fillna(0.5).get(p2["race"],0.5))
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\1607216068.py:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  _gender = float(getColumnMatchPourcente("gender", p1["gender"].values[0]).fillna(0.5).get(p2["gender"],0.5))
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\1607216068.py:6: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  _goal = float(getColumnMatchPourcente("goal", p1["goal"].values[0]).fillna(0.5).get(p2["goal"],0.5))
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\1607216068.py:7: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  _field_cd = float(getColumnMatchPourcente("field_cd", p1["field_cd"].values[0]).fillna(0.5).get(p2["field_cd"],0.5))
C:\Users\macel\AppData\Local\Temp\ipykernel_13372\1607216068.py:8: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  _age = float(getColumnMatchPourcente("age", p1["age"].values[0]).fillna(0.5).get(p2["age"],0.5))

7.637967263879673

In [21]:
df_profil['field_cd'].drop_duplicates()

0                               Law
20                             Math
70                Political Science
100                        Business
200                     Engineering
216                       Education
232                    Psychologist
248                     Social Work
504                  Non Renseigner
656                       Undergrad
751                 Pharmaceuticals
858     History/Religion/Philosophy
928                      Journalism
1080                     Biological
1602                           Film
1716                      Languages
3444                           Arts
4974                   Architecture
6876                          Other
Name: field_cd, dtype: object